img {
  max-width: 100%;
  display: block;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-wrapper {
  width: 710px;
  margin: 0 auto;
}

.field {
  width: 700px;
  height: 400px;
  border: solid red 5px;
  margin: 0 auto;
  position: relative;
}

#enemy {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 325px;
  box-sizing: border-box;
}

#score {
  width: 100px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  background-color: rgba(218, 212, 212, 0.445);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px;
}

.info-score {
  width: 100px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}