* {
  margin: 0;
  padding: 0;
  color: rgb(34, 34, 34);
}

img {
  max-width: 100%;
  display: block;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

html {
  height: 100%;
}

.main-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1px;
}

.field {
  width: 700px;
  height: 400px;
  border: solid rgb(98, 193, 236) 3px;
  margin: 0 auto;
  position: relative;
  background: url(./img/filed_v3.png) 0 0/cover no-repeat;
}

#enemy {
  width: 50px;
  height: 50px;
  background: url(./img/coin_v2.png) 0 0/cover no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 325px;
  box-sizing: border-box;
}

#enemy:hover {
  cursor: pointer;
}

#score, #time {
  width: 100px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  background-color: rgba(150, 222, 255, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px;
  border-radius: 8%;
}

#restart {
  border: 0;
}

.info {
  width: 100px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

/* РОБЛЮ МОДАЛЬНЕ ВІКНО */

.modal-window {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-wrapper {
  background: url(./img/start_bg_v3.png) 0 0/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 670px;
  padding: 50px 10px 10px 10px;
  text-align: center;
  position: relative;
}

.modal-window-closed {
  display: none;
}

.game-title {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.wanna-make-money {
  font-size: 28px;
}

.terms {
  font-size: 20px;
  font-weight: 600;
}

.color-gold {
  color: gold;
}

.fz22 {
  font-weight: 700;
  font-size: 22px;
}

#start {
  width: 125px;
  height: 45px;
  border-radius: 8%;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(30, 139, 202);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px rgba(68, 68, 68, 0.24);
}

#start:hover {
  background-color: rgb(43, 43, 43);
  color: gold;
  font-size: 22px;
  transition-duration: 0.15s;
  cursor: pointer;
}

.capitalist-img1 {
  position: absolute;
  background: url(./img/man_start.png) 0 0/cover no-repeat;
  width: 175px;
  height: 175px;
  top: 40px;
  left: 40px;
}

.capitalist-img2 {
  position: absolute;
  background: url(./img/man_time.png) 0 0/cover no-repeat;
  width: 160px;
  height: 160px;
  bottom: 40px;
  right: 40px;
}

.little-issue {
  align-self: flex-start;
  font-size: 12px;
  color: rgb(80, 80, 80);
}

/* GAME OVER ВІКНО */

.game-over-window {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-wrapper {
  background: url(./img/start_bg_v3.png) 0 0/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 687px;
  height: 360px;
  padding: 30px 10px 30px 10px;
  text-align: center;
  position: relative;
}

.congrats {
  font-size: 28px;
}

.players-end-score-wrapper {
  font-size: 22px;
  font-weight: 700;
}

#players-end-score {
  margin: 10px 0px;
  font-size: 40px;
  font-weight: 700;
}

#play-again {
  width: 150px;
  height: 45px;
  border-radius: 8%;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(30, 139, 202);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px rgba(68, 68, 68, 0.24);
}

#play-again:hover {
  background-color: rgb(43, 43, 43);
  color: gold;
  font-size: 22px;
  transition-duration: 0.15s;
  cursor: pointer;
}

.capitalist-img3 {
  position: absolute;
  background: url(./img/man_game_over_v3.png) 0 0/cover no-repeat;
  width: 175px;
  height: 175px;
  top: 130px;
  left: 25px;
}

#restart {
  width: 100px;
  height: 50px;
  border-radius: 8%;
  border: 0;
  font-size: 22px;
  font-weight: 700;
  background-color: rgba(150, 222, 255, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px;
}

#restart:hover {
  background-color: rgb(43, 43, 43);
  color: gold;
  font-size: 22px;
  transition-duration: 0.15s;
  cursor: pointer;
}